<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>中文情感倾向分析</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load staticfiles %}
  <link rel="stylesheet" href="{% static  'css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
  <link rel="stylesheet" href="{% static 'css/default.css' %}">
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>
  <script src="{% static 'js/typed.js' %}"></script>
  <script src="{% static 'js/wow.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <script src="{% static 'js/underscore-min.js' %}"></script>
  <script src="{% static 'js/jquery.progress.js' %}"></script>
  <style>
    .dictionary-choose {
      display: inline-block;
      width: 120px;
      font-size: 0.9em;
      margin-bottom: 10px;
      height: calc(2.25rem + 2px);
      padding: .375rem 1.75rem .375rem .75rem;
      line-height: 1.5;
      color: #495057;
      vertical-align: middle;
      background: #fff;
      background-size: 8px 10px;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    .result {
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .result > span {
      font-size: 1.8em;
    }

    .res-default {  }

    .res-success {
      color: rgb(253, 107, 39);
    }

    .res-danger {
      color: rgb(96, 174, 253);
    }
  </style>
</head>
<body id="top">

<!-- start preloader -->
<div class="preloader">
  <div class="sk-spinner sk-spinner-wave">
    <div class="sk-rect1"></div>
    <div class="sk-rect2"></div>
    <div class="sk-rect3"></div>
    <div class="sk-rect4"></div>
    <div class="sk-rect5"></div>
  </div>
</div>
<!-- end preloader -->

<!-- start navigation -->
<nav class="navbar navbar-default templatemo-nav" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">Lab409</a>
    </div>
  </div>
</nav>
<!-- end navigation -->

<!-- start home -->
<section id="home" style="background: url({% static 'images/home-bg.jpg' %}) no-repeat; background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h1 class="wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s" style="font-weight: 400;">中文情感倾向分析</h1>
        <h2 class="wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s"><span
            style="font-size: 30px; font-weight: 400; color: #FFF;">基于字典方法/机器学习方法</span></h2>
        <div class="element">
          <div class="sub-element">针对带有主观描述的中文文本，可自动判断该文本的情感极性类别。</div>
          <div class="sub-element">情感极性分为积极、消极、中性。</div>
          <div class="sub-element">情感倾向分析能帮助企业理解用户消费习惯、分析热点话题和危机舆情监控，为企业提供有力的决策支持。</div>
        </div>
        <a data-scroll href="#team" class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.6s">试一试</a>
      </div>
    </div>
  </div>
</section>
<!-- end home -->
<!-- start team -->
<section id="team">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s" style="font-weight: 400;">中文情感倾向分析</h2>
        <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span
            style="font-size: 30px; font-weight: 300">基于字典方法</span></h2>
        <h3 style="font-weight: 100; font-size: 20px">请输入一段中文文本：</h3>
        <span>请选择相应字典：</span>
        <select name="dictionaryType" id="dictionary-type" class="dictionary-choose">
          <option selected value="1">知网</option>
          <option value="2">大连理工</option>
          <option value="3">NTUSD</option>
          <option value="4">清华李建军</option>
          <option value="5">清华情感极值词典</option>

        </select>
      </div>
      <div class="col-md-12" class="emotion-input-container">
        <textarea class="emotion-input" id="emotion-input-0"></textarea>
      </div>
    </div>
  </div>
</section>
<!-- end team -->

   <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"
                        style="font-weight: 300; font-size: 30px">
                        情感分析结果</h2>
                </div>
                <article class="htmleaf-container col-md-12">
                    <div class="result">
                        <span id="dic-result" disabled="disabled">无法识别！</span>
                    </div>
                </article>
                <article class="htmleaf-container col-md-12">
                    <div class="result">
                        <button class="btn btn-danger" onclick="openRecommendModal()">分析错误！</button>
                    </div>
                </article>
            </div>
        </div>
    </section>


<!-- start service -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s" style="font-weight: 400;">中文情感倾向分析</h2>
        <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span
            style="font-size: 30px; font-weight: 300">基于机器学习方法</span></h2>
        <h3 style="font-weight: 100; font-size: 20px">请输入一段中文文本：</h3>
      </div>
      <div class="col-md-12" class="emotion-input-container">
        <textarea class="emotion-input" id="emotion-input"></textarea>
      </div>
    </div>
  </div>
</section>
<!-- end servie -->

<!-- start portfolio -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s" style="font-weight: 300; font-size: 30px">
          情感分析结果</h2>
      </div>
      <article class="htmleaf-container col-md-12">
        <div class="htmleaf-content">
          <div>
            <div class="col-md-1">
              <text style="color: #FFF; font-size: 16px">积极情绪</text>
            </div>
            <div class="col-md-1">
              <img src="{% static 'images/pos.png' %}" style="width: 40px; height: 40px">
            </div>
          </div>
          <div class="col-md-8">
            <svg id="container"></svg>
          </div>
          <div>
            <div class="col-md-1">
              <img src="{% static 'images/neg.png' %}" style="width: 40px; height: 40px">
            </div>
            <div class="col-md-1">
              <text style="color: #FFF; font-size: 16px">消极情绪</text>
            </div>
          </div>
        </div>
      </article>
        <article class="htmleaf-container col-md-12">
                    <div class="result">
                        <button class="btn btn-danger" onclick="openRecommendModal()">分析错误！</button>
                    </div>
                </article>
    </div>
  </div>
</section>
<!-- end portfolio -->

<!-- start copyright -->
<footer id="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
          Copyright &copy; Lab409</p>
      </div>
    </div>
  </div>
</footer>
<!-- end copyright -->


<div class="modal fade" id="recommendModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="mySmallModalLabel" style="color: black">反馈</h4>
        <button type="button" class="close" style="margin-top: -25px" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="color: black;">内容是：感谢你的反馈，我们将因此做出更准确的预测！</p>
      </div>
      <div class="modal-footer" style="padding: 7px;">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<script>

  var progress = $("#container").Progress({
    percent: 50,
    width: 600,
    height: 20,
    fontSize: 16,
    increaseSpeed: 8
  });

  /**
   * Adjust #dic-result's class
   */
  function clearResultDic() {
    $('#dic-result').removeClass('res-success');
    $('#dic-result').removeClass('res-danger');
    $('#dic-result').removeClass('res-default');
  }

  /**
   * Query and use method NLP
   */
  function queryNLP() {
    console.log('Your input:', $('#emotion-input').val());
    $.get('../calculate?type=NLP&query=' + $('#emotion-input').val()).done(function (req) {
      if (req == 49.98)
        progress.percent(50);
      else
        progress.percent(req);
    });
  }

  /**
   * Query and use method DIC
   */
  function queryDIC() {
    console.log('Your input:', $('#emotion-input-0').val());
    console.log('Dictionary type:', $('#dictionary-type').val());
    $.get('../calculate?type=DIC&dic=' + $('#dictionary-type').val() + '&query=' + $('#emotion-input-0').val()).done(function (req) {
      if (Number.parseFloat(req) > 0){
        clearResultDic();
        $('#dic-result').addClass('res-success');
        $('#dic-result').text('积极');
      } else if (Number.parseFloat(req) < 0) {
        clearResultDic();
        $('#dic-result').addClass('res-danger');
        $('#dic-result').text('消极');
      } else {
        clearResultDic();
        $('#dic-result').addClass('res-default');
        $('#dic-result').text('无法识别！');
      }
    });
  }

  /**
   * Open recommend modal
   */
  function openRecommendModal() {
    $('#recommendModal').modal();
  }


  $(document).ready(function () {
    $('#emotion-input').keyup(_.debounce(queryNLP, 700));
    $('#emotion-input-0').keyup(_.debounce(queryDIC, 700));
    $('#dictionary-type').change(queryDIC);
  })
</script>

</body>
</html>